
body {
  background-color: black;
} 

.logo {
  height: 70px;
  border: 3px solid rgba(255, 255, 255, 0.222);
  border-radius: 40px;
  padding-left: 130px;
  padding-right: 135px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.image {
  border: 3px solid rgba(255, 255, 255, 0.222);
  border-radius: 40px;

}

.audio {
  height: 40px;
  width: 370px;
  border: 3px solid rgba(255, 255, 255, 0.222);
  border-radius: 40px;

}

p {
  color: white;
}

h1 {
  color: white;
}





ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(85, 84, 84);
}

.active {
  background-color: #414040;
}

* {
  box-sizing: border-box;
}





/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.iframe {
height: 695px; 
width: 935px; 
}