/* body style */
body {
  background-color: black;
  color: white; /* text colour */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
} 


/* SamArc Logo */
.logo {
  height: 70px;
  padding-left: 130px;
  padding-right: 135px;
  padding-top: 5px;
  padding-bottom: 5px;
}


/* Image */
.image {
  border: 3px solid rgba(255, 255, 255, 0.222);
  border-radius: 40px;

}
/* Image2 */
.image2 {
  border: 3px solid rgba(255, 255, 255, 0.222);
  border-radius: 30px;

}


/* Audio Player */
.audio {
  height: 30px;
  width: 370px;
  border: 3px solid rgba(255, 255, 255, 0.222);
  border-radius: 40px;

}


/* Horizontal Bar */
/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
ul {
  overflow: hidden;
  background-color: #141414;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(26, 25, 25);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: black;
}

* {
  box-sizing: border-box;
}


/* Screen Layout */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Iframe */
.iframe {
  height: 615px; 
  width: 935px; 
}

hr {
        position: relative;
        border: none;
        height: 1px;
        background-color:white;
}
.bottom {
        position: relative;
        border: none;
        height: 4px;
        background-color:white;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 301px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
